@import '@fontsource/montserrat';
@import '@fontsource/krona-one';
@import '@fontsource/blackout-sunrise';

@import "@fontsource/josefin-sans";
@import "@fontsource/yeseva-one";

@import "@fontsource/abril-fatface";
@import "@fontsource/poppins";

@import "@fontsource/familjen-grotesk";
@import "@fontsource/fira-sans";

@font-face {
  font-display: swap;
  font-family: 'eurostile';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/EurostileNormal.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'eurostile';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/EurostileBold.ttf') format('truetype');
}
