//
//  Breakpoints
//  ---------------------------------------------

:root {
	--screen--xxs: 20rem;
	--screen--xs: 30rem;
	--screen--s: 40rem;
	--screen--m: 48rem;
	--screen--l: 64rem;
	--screen--xl: 80rem;
	--screen--xxl: 87.5rem;
}
