:root {
	//
	//  Font Families
	//  ---------------------------------------------
	--font-family--base: 'Montserrat';
	--font-family--secondary: 'Blackout Sunrise';
	--font-family--tertiary: 'Metamorphous';
	--font-family--sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--font-family--base-global: var(--font-family--base), var(--font-family--sans-serif);

	//
	//  Font Weight
	//  ---------------------------------------------
	--font-weight--regular: 400;
	--font-weight--bold: 700;
}
