@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: hsl(89,100%,50%),
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: color.adjust(color-palette.$grey-900, $blue: +4),
	$background: #000,
	$error: color-palette.$red-700
);

html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-button {
  &__label {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: white;
}

.smui-accordion__panel {
  overflow: hidden;
}

.smui-paper__content {
  display: grid;
  gap: 1rem;
}
